In [55]:
import pandas as pd
import numpy as np
from sklearn.model_selection import KFold
from xgboost import XGBRegressor

In [56]:
# df = pd.read_csv('cloth_prices.csv', sep=';')

In [57]:
# df

In [58]:
# Y = df['Price']  # dependent variable
# X = df[['Item', 'Brand', 'Usage', 'Size']]  # independent variable

In [59]:
# kf = KFold(n_splits=4, random_state=0, shuffle=True)
# kf.get_n_splits(X)

In [60]:
# X_num = np.array(X)
# y_num = np.array(Y)

In [61]:
# for train_index, test_index in kf.split(X):
#     print("TRAIN:", train_index, "TEST:", test_index)
#     X_train, X_test = X_num[train_index], X_num[test_index]
#     y_train, y_test = y_num[train_index], y_num[test_index]

In [62]:
# model = XGBRegressor(n_estimators=1000, max_depth=7, eta=0.1, subsample=0.7, colsample_bytree=0.8)

In [63]:
# model.fit(X_train, y_train, verbose=True)

## Fake Data Generator

In [68]:
df_look = pd.read_csv('dataset/thelook.csv')

In [69]:
df_look.head(3)

,id,product_id,created_at,sold_at,cost,product_category,product_name,product_brand,product_retail_price,product_department,product_sku,product_distribution_center_id,days_storage
0,72384,13844,2021-05-04 00:18:09 UTC,2021-05-08 00:56:09 UTC,2.76804,Accessories,(ONE) 1 Satin Headband,Funny Girl Designs,6.99,Women,2A3E953A5E3D81E67945BCE5519F84C8,7,4
1,36195,14086,2021-05-07 20:48:50 UTC,2021-06-04 11:23:50 UTC,2.24625,Accessories,(One) CHEER Rhinestone Studded Stretch Headband,Funny Girl Designs,5.99,Women,8EFA9015A4EF4632A954E820ECA834AD,7,27
2,64993,14086,2020-05-04 20:24:01 UTC,2020-05-13 12:20:01 UTC,2.24625,Accessories,(One) CHEER Rhinestone Studded Stretch Headband,Funny Girl Designs,5.99,Women,8EFA9015A4EF4632A954E820ECA834AD,7,8

In [70]:
df_look.sort_values(['days_storage'], ascending=[True],inplace=True)

In [71]:
p1=[0.4, 0.3, 0.15, 0.1, 0.05]
p2=[0.35, .35, 0.15, 0.1, 0.05]
p3=[0.2, 0.3, 0.25, 0.2, 0.05]
p4=[0.1, 0.3, 0.35, 0.15, 0.1]
p5=[0.05, 0.1, 0.15, 0.3, 0.4]

In [72]:
int(np.round(len(df_look['cost'])/5,0))

5450

In [73]:
df_look_1=df_look.iloc[:5450,:]

In [74]:
df_look_1=df_look_1['cost'].apply(
    lambda x: x * np.random.choice(np.arange(.9, 1.1, 0.05), p=p1)
)
df_look_1

20696    29.357639
19351     5.314680
21715    13.740000
21702    87.674400
19353     5.193900
           ...
3118     42.876541
3124     19.934839
186       6.865659
27127    15.163000
1021     37.910000
Name: cost, Length: 5450, dtype: float64

In [75]:
df_look_2=df_look.iloc[5450:10900,:]
df_look_2=df_look_2['cost'].apply(
    lambda x: x * np.random.choice(np.arange(.9, 1.1, 0.05), p=p2)
)
df_look_2

184       4.442580
24878    19.089000
4099     65.443600
24881    14.029600
3013     20.085860
           ...
812       5.963937
8294     46.055934
835      20.493000
22440    19.516164
17634    30.470551
Name: cost, Length: 5450, dtype: float64

In [76]:
df_look_3=df_look.iloc[10900:16350,:]
df_look_3=df_look_3['cost'].apply(
    lambda x: x * np.random.choice(np.arange(.9, 1.1, 0.05), p=p3)
)
df_look_3

6082     26.067600
3266     69.451200
15283    41.737500
9322     29.799000
21815    13.909077
           ...
1808     19.520600
24838    47.209500
25855    27.266400
5446     28.096200
22989    14.233933
Name: cost, Length: 5450, dtype: float64

In [77]:
df_look_4=df_look.iloc[16350:21800,:]
df_look_4=df_look_4['cost'].apply(
    lambda x: x * np.random.choice(np.arange(.9, 1.1, 0.05), p=p4)
)
df_look_4

25571    30.450000
24482    22.822800
1874     10.346400
2189      2.343000
22913    12.487860
           ...
8918     18.967258
11786    20.080150
381       1.318920
8906     17.211448
12593    52.359059
Name: cost, Length: 5450, dtype: float64

In [78]:
df_look_5=df_look.iloc[21800:27250,:]
df_look_5=df_look_5['cost'].apply(
    lambda x: x * np.random.choice(np.arange(.9, 1.1, 0.05), p=p5)
)
df_look_5

12647     9.229462
8652     72.492383
8841     25.480000
20429    49.336871
8894     65.356200
           ...
26236    25.769205
18564    33.516451
9308     96.542250
13013    15.495404
3865     20.722591
Name: cost, Length: 5450, dtype: float64

In [79]:
df_look_cost = list(df_look_1) + list(df_look_2)+ list(df_look_3)+list(df_look_4)+list(df_look_5)

In [80]:
df_look=df_look.iloc[:-1,:]

In [81]:
df_look['cost']=df_look_cost

In [82]:
df_look['product_id'].value_counts()

22002    8
8712     7
19805    7
10701    7
13631    6
        ..
6040     1
25164    1
11155    1
20199    1
21899    1
Name: product_id, Length: 17744, dtype: int64

In [83]:
df_priced=df_look.copy()

In [84]:
df_priced['product_brand'].value_counts()

Allegra K         868
Calvin Klein      471
Carhartt          376
Volcom            289
Tommy Hilfiger    284
                 ...
Konflict            1
Bobi                1
Monologue           1
Motony              1
Heather             1
Name: product_brand, Length: 2324, dtype: int64

In [85]:
import random
usage = ['New', 'Almost New', 'Used', 'Very Used']
for i in range(len(df_priced['product_category'])):
    df_priced['product_category'][i]=random.choice(usage)

/var/folders/vw/5s4wkzhj0hbf60qvln7n6cs80000gn/T/ipykernel_32003/4081827586.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_priced['product_category'][i]=random.choice(usage)

In [86]:
for i in range(len(df_priced['product_category'])):
    df_priced['product_retail_price'][i]=int(np.random.choice(np.arange(37, 46, 1)))

/var/folders/vw/5s4wkzhj0hbf60qvln7n6cs80000gn/T/ipykernel_32003/812683257.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_priced['product_retail_price'][i]=int(np.random.choice(np.arange(37, 46, 1)))

In [87]:
df_priced['product_retail_price']=df_priced['product_retail_price'].astype(int)

In [88]:
df_priced

,id,product_id,created_at,sold_at,cost,product_category,product_name,product_brand,product_retail_price,product_department,product_sku,product_distribution_center_id,days_storage
20696,390,20184,2021-11-24 08:06:47 UTC,2021-11-25 03:52:47 UTC,29.357639,Almost New,Men's Single Breasted 3 Button Gray Pinstripe ...,Abini,38,Men,AD7F941F991AD6CCD8D433FED457FB63,4,0
19351,43639,25044,2021-04-01 13:53:31 UTC,2021-04-01 17:33:31 UTC,5.314680,New,SockGuy Men's Mudflap Girl Socks,SockGuy,41,Men,BCEA8E33F6A05964BDF4AC26C1AA89CF,2,0
21715,67554,19168,2022-01-14 14:18:08 UTC,2022-01-14 15:49:08 UTC,13.740000,Very Used,John Henry Men's Long Sleeve Crew Neck Sweater,John Henry,38,Men,0D81F8D2278A750F06F9FD48FE57CEF0,3,0
21702,20047,18802,2021-02-24 00:58:34 UTC,2021-02-24 12:49:34 UTC,87.674400,Used,J.C. Rags Men's Reversed Cable Blazer,J.C. Rags,41,Men,BA29C0A9D05316B187201C304B20120D,1,0
19353,4935,25120,2022-01-15 18:41:17 UTC,2022-01-16 11:16:17 UTC,5.193900,Very Used,SockGuy Men's Unicorn Socks,SockGuy,43,Men,65B5FC46FC82087BA24609B14F2DC4FF,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
26236,9122,25745,2021-04-15 01:14:50 UTC,2021-06-14 00:17:50 UTC,25.769205,Almost New,Bjorn Borg Men's Double Layer Longs,Bjorn Borg,39,Men,FB8E1EA7FBBEBEAD5AF0CA4DB35408D0,9,59
18564,25871,9980,2019-04-26 13:36:50 UTC,2019-06-25 00:40:50 UTC,33.516451,New,White 52 Inch Hooded Terry Robe W/double Stitc...,Spa & Resort,38,Women,A5329A91EF79DB75900BD9CAB3D96E43,1,59
9308,58983,21106,2021-01-07 12:03:52 UTC,2021-03-08 08:17:52 UTC,96.542250,New,Paige Premium Denim Men's Stone Canyon Boot Cu...,PAIGE,39,Men,C3DF79D5324C4E6263F0A865B4EAAE0B,7,59
13013,30630,21899,2021-07-31 15:42:54 UTC,2021-09-29 03:44:54 UTC,15.495404,New,Ed Garments Men's Flat Front Pant. 2577,Ed Garments,42,Men,4F372AD0CB173CAF4691D83696B3B08A,7,59
3865,5626,3337,2021-12-23 09:54:34 UTC,2022-02-21 02:15:34 UTC,20.722591,Almost New,Lindy Bop 'Laney' Chic Vintage 50's Style Blac...,Lindy Bop,41,Women,A4FA7175D4757E45EAC71A8487751F63,7,59

In [89]:
from faker import Faker
fake = Faker('it_IT')

for i in list(df_priced['product_name'].unique()):
    selected_brand=df_priced[df_priced["product_name"]==i]
    brand=list(selected_brand['product_brand'])[0]
    df_priced.loc[df_priced['product_name']==i, "product_name"] =[k.split(' ')[0] + ' ' + fake.name() for k in list(selected_brand['product_name'])]

In [217]:
df_train = df_priced[['product_sku','product_brand', 'product_category', 'product_department','product_name','product_retail_price', 'days_storage', 'cost']]

In [218]:
df_train.rename({"product_sku" : "Item",
                 "product_department": "Gender",
                 "product_brand": "Brand", 
                 "product_name":"Model",
                 "product_category":"Usage",
                 "product_retail_price": "Size", 
                 "days_storage":"Sale_Until",
                 "cost" :"Prize"},axis='columns', inplace=True)

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [219]:
df_train

,Item,Brand,Usage,Gender,Model,Size,Sale_Until,Prize
20696,AD7F941F991AD6CCD8D433FED457FB63,Abini,Almost New,Men,Men's Durante Bellucci,38,0,29.357639
19351,BCEA8E33F6A05964BDF4AC26C1AA89CF,SockGuy,New,Men,SockGuy Imelda Bossi-Nicolucci,41,0,5.314680
21715,0D81F8D2278A750F06F9FD48FE57CEF0,John Henry,Very Used,Men,John Eugenia Borgia,38,0,13.740000
21702,BA29C0A9D05316B187201C304B20120D,J.C. Rags,Used,Men,J.C. Milo Vento,41,0,87.674400
19353,65B5FC46FC82087BA24609B14F2DC4FF,SockGuy,Very Used,Men,SockGuy Giulia Gilardoni,43,0,5.193900
...,...,...,...,...,...,...,...,...
26236,FB8E1EA7FBBEBEAD5AF0CA4DB35408D0,Bjorn Borg,Almost New,Men,Bjorn Sig.ra Giovanna Tarchetti,39,59,25.769205
18564,A5329A91EF79DB75900BD9CAB3D96E43,Spa & Resort,New,Women,White Natalia Pizziol,38,59,33.516451
9308,C3DF79D5324C4E6263F0A865B4EAAE0B,PAIGE,New,Men,Paige Bruno Agnesi,39,59,96.542250
13013,4F372AD0CB173CAF4691D83696B3B08A,Ed Garments,New,Men,Ed Dott. Amedeo Bellocchio,42,59,15.495404
3865,A4FA7175D4757E45EAC71A8487751F63,Lindy Bop,Almost New,Women,Lindy Gaetano Ferrata-Tarantini,41,59,20.722591

In [220]:
df_train=df_train[df_train['Prize'] < 150]
df_train=df_train[df_train['Sale_Until'] < 50]

In [221]:
# df_train.to_csv("thelook2.csv")

In [222]:
df_train['Gender'].replace(['Men', 'Women'],
                        [0, 1], inplace=True)

In [223]:
gender_zip=zip(('Men', 'Women'),(0, 1))

In [224]:
df_train['Usage'].replace(['New', 'Almost New', 'Used', 'Very Used'],
                        [0, 1,2,3], inplace=True)

In [225]:
Usage_zip = zip(('New', 'Almost New', 'Used', 'Very Used'),(0, 1,2,3))

In [226]:
df_train

,Item,Brand,Usage,Gender,Model,Size,Sale_Until,Prize
20696,AD7F941F991AD6CCD8D433FED457FB63,Abini,1,0,Men's Durante Bellucci,38,0,29.357639
19351,BCEA8E33F6A05964BDF4AC26C1AA89CF,SockGuy,0,0,SockGuy Imelda Bossi-Nicolucci,41,0,5.314680
21715,0D81F8D2278A750F06F9FD48FE57CEF0,John Henry,3,0,John Eugenia Borgia,38,0,13.740000
21702,BA29C0A9D05316B187201C304B20120D,J.C. Rags,2,0,J.C. Milo Vento,41,0,87.674400
19353,65B5FC46FC82087BA24609B14F2DC4FF,SockGuy,3,0,SockGuy Giulia Gilardoni,43,0,5.193900
...,...,...,...,...,...,...,...,...
7798,EC4DE54F2F3AFA14175E5EABFC16CE1F,VIVILLI,0,1,VIVILLI Lina Chittolini-Ginese,37,49,14.704800
24613,AEB66737D37CAC958FE772E12C5C16DD,Sons Of Anarchy,0,0,Bold Cesare Botta,44,49,15.208116
3178,E48A900A95C8E0A3DB31DA9FBAD6866E,Alex Evenings,0,1,Plus Imelda Barcaccia,39,49,46.415357
12124,6B59F92676FD007E9CC45D7F3FDD51F4,MontBell,1,0,MontBell Sig. Agnolo Storladi,44,49,82.744200
3347,0987B8B338D6C90BBEDD8631BC499221,2b by bebe,2,1,2B Dott. Filippo Querini,45,49,15.877785

In [227]:
len(list(dict(df_train['Brand'].value_counts().loc[lambda x : x>30]).keys()))

149

In [228]:
result = dict()
for i in list(dict(df_train['Brand'].value_counts().loc[lambda x : x>30]).keys()):
    result[i]=df_train[df_train['Brand']==i]

In [229]:
def from_dict_value_to_df(d):
    """
    input = dictionary
    output = dataframe as part of all the values from the dictionary
    """
    df = pd.DataFrame()
    for v in d.values():
        df = df.append(v)
    return df

In [230]:
df_brands=from_dict_value_to_df(result)

In [231]:
df_brands['Brand'].str.lower()

2905            allegra k
9893            allegra k
2927            allegra k
2944            allegra k
2962            allegra k
               ...
20515    king formal wear
20458    king formal wear
81       king formal wear
20448    king formal wear
20438    king formal wear
Name: Brand, Length: 12082, dtype: object

In [232]:
brands_zip = zip(tuple(list(df_brands['Brand'].unique())),tuple(range(len(list(df_brands['Brand'].unique())))))

In [233]:
df_brands['Brand'].replace(list(df_brands['Brand'].unique()),
                        range(len(list(df_brands['Brand'].unique()))), inplace=True)

In [234]:
df_num=df_brands.drop(['Item', 'Model'], axis=1)

In [235]:
mask = pd.to_numeric(df_num['Usage'], errors='coerce').isna()

In [236]:
import copy

brands_zip2 = copy.deepcopy(brands_zip)

In [237]:
dict(gender_zip)

{'Men': 0, 'Women': 1}

In [238]:
d_usage=dict(Usage_zip)

In [239]:
d_usage

{'New': 0, 'Almost New': 1, 'Used': 2, 'Very Used': 3}

In [240]:
d_brands=dict(brands_zip)

In [243]:
inv_map = {v: k for k, v in d_brands.items()}

In [244]:
inv_map

{0: 'Allegra K',
 1: 'Calvin Klein',
 2: 'Carhartt',
 3: 'Volcom',
 4: 'Tommy Hilfiger',
 5: 'Quiksilver',
 6: 'Hanes',
 7: 'Nautica',
 8: 'Hurley',
 9: 'Columbia',
 10: "Levi's",
 11: 'Dockers',
 12: 'Diesel',
 13: 'Wrangler',
 14: 'Speedo',
 15: '7 For All Mankind',
 16: 'Dickies',
 17: 'American Apparel',
 18: 'Champion',
 19: "O'Neill",
 20: 'Lucky Brand',
 21: 'FineBrandShop',
 22: 'SmartWool',
 23: 'HUGO BOSS',
 24: 'Motherhood Maternity',
 25: 'Ralph Lauren',
 26: 'Fox',
 27: 'DC',
 28: 'Oakley',
 29: 'Ray-Ban',
 30: 'Jones New York',
 31: 'Anne Klein',
 32: 'Calvin Klein Jeans',
 33: 'Orvis',
 34: 'Roxy',
 35: 'adidas',
 36: 'Kenneth Cole',
 37: 'Jockey',
 38: 'Lee',
 39: 'Fruit of the Loom',
 40: "Joe's Jeans",
 41: 'Haggar',
 42: 'True Religion',
 43: 'Port Authority',
 44: 'HUE',
 45: 'Patty',
 46: 'Anna-Kaci',
 47: 'Nike',
 48: 'IZOD',
 49: "Not Your Daughter's Jeans",
 50: 'Hot from Hollywood',
 51: 'Bali',
 52: 'Hot Topic',
 53: 'Perry Ellis',
 54: 'Pendleton',
 55: 'Ed Hardy',
 56: 'Tommy Bahama',
 57: 'Duofold',
 58: 'Thorlo',
 59: 'SK Hat shop',
 60: 'Maidenform',
 61: 'Laura',
 62: 'Polo Ralph Lauren',
 63: 'RVCA',
 64: 'Gold Toe',
 65: 'Billabong',
 66: 'Woolrich',
 67: 'Geoffrey Beene',
 68: 'eVogues Apparel',
 69: 'Burnside',
 70: 'Ed Garments',
 71: 'A:X Armani Exchange',
 72: 'G-Star',
 73: 'Paul Fredrick',
 74: 'Original Penguin',
 75: 'Woman Within',
 76: 'Mountain Hardwear',
 77: 'Majestic International',
 78: 'Van Heusen',
 79: '2(x)ist',
 80: 'Harley-Davidson',
 81: 'SEX NIGHT',
 82: 'Icebreaker',
 83: 'Eddie Bauer',
 84: 'Bella',
 85: 'Wigwam',
 86: 'Vanity Fair',
 87: 'Sutton Studio',
 88: 'Tri-Mountain',
 89: '2b by bebe',
 90: 'LRG',
 91: 'Wacoal',
 92: 'Savane',
 93: 'Sock It To Me',
 94: 'Alexander Del Rossa',
 95: 'French Connection',
 96: 'ASICS',
 97: 'Samanthas Style Shoppe',
 98: 'Southpole',
 99: 'Marc Ecko Cut & Sew',
 100: 'Michael Kors',
 101: 'Luxury Divas',
 102: 'boxed-gifts',
 103: 'TrendsBlue',
 104: "The Little Alpaca's House",
 105: 'Rip Curl',
 106: 'Flexees',
 107: 'Silver Jeans',
 108: 'Alfred Dunner',
 109: 'UNIONBAY',
 110: 'ExOfficio',
 111: 'Metal Mulisha',
 112: 'Intimo',
 113: 'Under Armour',
 114: 'Underworks',
 115: 'Devon & Jones',
 116: 'Hanro',
 117: 'Life Is Good',
 118: 'Betsey Johnson',
 119: 'BCBGMAXAZRIA',
 120: 'Gary Majdell Sport',
 121: 'PUMA',
 122: 'G by GUESS',
 123: "Alki'i",
 124: 'Gildan',
 125: 'Alternative',
 126: 'Bottoms Out',
 127: 'Russell Athletic',
 128: 'C-IN2',
 129: 'Harbor Bay',
 130: 'Ilusion',
 131: 'Fred Perry',
 132: 'U.S. Polo Assn.',
 133: 'Kenneth Cole REACTION',
 134: 'prAna',
 135: 'Hudson',
 136: 'LOTUSTRADERS',
 137: 'Joseph Abboud',
 138: "Frederick's of Hollywood",
 139: 'K. Bell',
 140: 'Retrofit',
 141: 'Rock Revival',
 142: 'AG Adriano Goldschmied',
 143: 'LabelShopper',
 144: 'Only Hearts',
 145: 'Matix',
 146: 'PAIGE',
 147: 'London Fog',
 148: 'King Formal Wear'}

In [52]:
# import pickle

# import numpy as np
# import pandas as pd
# from sklearn.model_selection import KFold
# from xgboost import XGBRegressor

In [53]:
# Y = df_train['Prize']  # dependent variable
# X = df_train[['Item', 'Brand', 'Usage', 'Model', 'Size', 'Sale_Until']]  # independent variable

In [54]:
# from pandas import DataFrame
# import matplotlib.pyplot as plt
# from sklearn.cluster import KMeans
# import seaborn as sns

# sns.set(style='whitegrid', rc={'figure.figsize':(11.7,8.27)})
# sns.set_context('poster')

In [55]:
# kmeans = KMeans(n_clusters=4).fit(df_train[['Prize', 'Sale_Until']])
# centroids = kmeans.cluster_centers_
# print(centroids)

In [56]:
# plt.scatter(df_train['Sale_Until'], df_train['Prize'], c= kmeans.labels_.astype(float), s=50, alpha=0.5)
# plt.scatter(centroids[:, 0], centroids[:, 1], c='green', s=50)
# plt.show()