In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import KFold
from xgboost import XGBRegressor

In [3]:
# df = pd.read_csv('cloth_prices.csv', sep=';')

In [4]:
# df

In [5]:
# Y = df['Price']  # dependent variable
# X = df[['Item', 'Brand', 'Usage', 'Size']]  # independent variable

In [6]:
# kf = KFold(n_splits=4, random_state=0, shuffle=True)
# kf.get_n_splits(X)

In [7]:
# X_num = np.array(X)
# y_num = np.array(Y)

In [8]:
# for train_index, test_index in kf.split(X):
#     print("TRAIN:", train_index, "TEST:", test_index)
#     X_train, X_test = X_num[train_index], X_num[test_index]
#     y_train, y_test = y_num[train_index], y_num[test_index]

In [9]:
# model = XGBRegressor(n_estimators=1000, max_depth=7, eta=0.1, subsample=0.7, colsample_bytree=0.8)

In [10]:
# model.fit(X_train, y_train, verbose=True)

## Fake Data Generator

In [11]:
df_look = pd.read_csv('dataset/thelook.csv')

In [12]:
df_look.head(3)

,id,product_id,created_at,sold_at,cost,product_category,product_name,product_brand,product_retail_price,product_department,product_sku,product_distribution_center_id,days_storage
0,72384,13844,2021-05-04 00:18:09 UTC,2021-05-08 00:56:09 UTC,2.76804,Accessories,(ONE) 1 Satin Headband,Funny Girl Designs,6.99,Women,2A3E953A5E3D81E67945BCE5519F84C8,7,4
1,36195,14086,2021-05-07 20:48:50 UTC,2021-06-04 11:23:50 UTC,2.24625,Accessories,(One) CHEER Rhinestone Studded Stretch Headband,Funny Girl Designs,5.99,Women,8EFA9015A4EF4632A954E820ECA834AD,7,27
2,64993,14086,2020-05-04 20:24:01 UTC,2020-05-13 12:20:01 UTC,2.24625,Accessories,(One) CHEER Rhinestone Studded Stretch Headband,Funny Girl Designs,5.99,Women,8EFA9015A4EF4632A954E820ECA834AD,7,8

In [13]:
df_look.sort_values(['days_storage'], ascending=[True],inplace=True)

In [14]:
p1=[0.4, 0.3, 0.15, 0.1, 0.05]
p2=[0.35, .35, 0.15, 0.1, 0.05]
p3=[0.2, 0.3, 0.25, 0.2, 0.05]
p4=[0.1, 0.3, 0.35, 0.15, 0.1]
p5=[0.05, 0.1, 0.15, 0.3, 0.4]

In [15]:
int(np.round(len(df_look['cost'])/5,0))

5450

In [16]:
df_look_1=df_look.iloc[:5450,:]

In [17]:
df_look_1=df_look_1['cost'].apply(
    lambda x: x * np.random.choice(np.arange(.9, 1.1, 0.05), p=p1)
)
df_look_1

20696     35.881559
19351      5.314680
21715     13.053000
21702    102.286800
19353      5.193900
            ...
3118      40.619881
3124      19.934839
186        7.247084
27127     16.679300
1021      34.119000
Name: cost, Length: 5450, dtype: float64

In [18]:
df_look_2=df_look.iloc[5450:10900,:]
df_look_2=df_look_2['cost'].apply(
    lambda x: x * np.random.choice(np.arange(.9, 1.1, 0.05), p=p2)
)
df_look_2

184       4.442580
24878    17.271000
4099     61.999200
24881    13.291200
3013     23.257312
           ...
812       5.111946
8294     46.055934
835      22.770000
22440    18.488998
17634    28.947023
Name: cost, Length: 5450, dtype: float64

In [19]:
df_look_3=df_look.iloc[10900:16350,:]
df_look_3=df_look_3['cost'].apply(
    lambda x: x * np.random.choice(np.arange(.9, 1.1, 0.05), p=p3)
)
df_look_3

6082     30.412200
3266     66.144000
15283    39.750000
9322     29.799000
21815    12.584403
           ...
1808     20.496630
24838    47.209500
25855    25.968000
5446     22.987800
22989    15.815481
Name: cost, Length: 5450, dtype: float64

In [20]:
df_look_4=df_look.iloc[16350:21800,:]
df_look_4=df_look_4['cost'].apply(
    lambda x: x * np.random.choice(np.arange(.9, 1.1, 0.05), p=p4)
)
df_look_4

25571    30.450000
24482    22.822800
1874     11.381040
2189      2.023500
22913    11.352600
           ...
8918     21.074731
11786    20.080150
381       1.318920
8906     20.080022
12593    52.359059
Name: cost, Length: 5450, dtype: float64

In [21]:
df_look_5=df_look.iloc[21800:27250,:]
df_look_5=df_look_5['cost'].apply(
    lambda x: x * np.random.choice(np.arange(.9, 1.1, 0.05), p=p5)
)
df_look_5

12647     9.229462
8652     79.741621
8841     22.932000
20429    47.094286
8894     56.019600
           ...
26236    23.426550
18564    30.469501
9308     96.542250
13013    13.382394
3865     20.722591
Name: cost, Length: 5450, dtype: float64

In [22]:
df_look_cost = list(df_look_1) + list(df_look_2)+ list(df_look_3)+list(df_look_4)+list(df_look_5)

In [23]:
df_look=df_look.iloc[:-1,:]

In [24]:
df_look['cost']=df_look_cost

In [25]:
df_look['product_id'].value_counts()

22002    8
8712     7
19805    7
10701    7
13631    6
        ..
6040     1
25164    1
11155    1
20199    1
21899    1
Name: product_id, Length: 17744, dtype: int64

In [26]:
df_priced=df_look.copy()

In [27]:
df_priced['product_brand'].value_counts()

Allegra K         868
Calvin Klein      471
Carhartt          376
Volcom            289
Tommy Hilfiger    284
                 ...
Konflict            1
Bobi                1
Monologue           1
Motony              1
Heather             1
Name: product_brand, Length: 2324, dtype: int64

In [28]:
import random
usage = ['New', 'Almost New', 'Used', 'Very Used']
for i in range(len(df_priced['product_category'])):
    df_priced['product_category'][i]=random.choice(usage)

/var/folders/vw/5s4wkzhj0hbf60qvln7n6cs80000gn/T/ipykernel_32003/4081827586.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_priced['product_category'][i]=random.choice(usage)

In [29]:
for i in range(len(df_priced['product_category'])):
    df_priced['product_retail_price'][i]=int(np.random.choice(np.arange(37, 46, 1)))

/var/folders/vw/5s4wkzhj0hbf60qvln7n6cs80000gn/T/ipykernel_32003/812683257.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_priced['product_retail_price'][i]=int(np.random.choice(np.arange(37, 46, 1)))

In [30]:
df_priced['product_retail_price']=df_priced['product_retail_price'].astype(int)

In [31]:
df_priced

,id,product_id,created_at,sold_at,cost,product_category,product_name,product_brand,product_retail_price,product_department,product_sku,product_distribution_center_id,days_storage
20696,390,20184,2021-11-24 08:06:47 UTC,2021-11-25 03:52:47 UTC,35.881559,Almost New,Men's Single Breasted 3 Button Gray Pinstripe ...,Abini,45,Men,AD7F941F991AD6CCD8D433FED457FB63,4,0
19351,43639,25044,2021-04-01 13:53:31 UTC,2021-04-01 17:33:31 UTC,5.314680,New,SockGuy Men's Mudflap Girl Socks,SockGuy,40,Men,BCEA8E33F6A05964BDF4AC26C1AA89CF,2,0
21715,67554,19168,2022-01-14 14:18:08 UTC,2022-01-14 15:49:08 UTC,13.053000,Very Used,John Henry Men's Long Sleeve Crew Neck Sweater,John Henry,40,Men,0D81F8D2278A750F06F9FD48FE57CEF0,3,0
21702,20047,18802,2021-02-24 00:58:34 UTC,2021-02-24 12:49:34 UTC,102.286800,Used,J.C. Rags Men's Reversed Cable Blazer,J.C. Rags,38,Men,BA29C0A9D05316B187201C304B20120D,1,0
19353,4935,25120,2022-01-15 18:41:17 UTC,2022-01-16 11:16:17 UTC,5.193900,New,SockGuy Men's Unicorn Socks,SockGuy,43,Men,65B5FC46FC82087BA24609B14F2DC4FF,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
26236,9122,25745,2021-04-15 01:14:50 UTC,2021-06-14 00:17:50 UTC,23.426550,Almost New,Bjorn Borg Men's Double Layer Longs,Bjorn Borg,43,Men,FB8E1EA7FBBEBEAD5AF0CA4DB35408D0,9,59
18564,25871,9980,2019-04-26 13:36:50 UTC,2019-06-25 00:40:50 UTC,30.469501,Almost New,White 52 Inch Hooded Terry Robe W/double Stitc...,Spa & Resort,42,Women,A5329A91EF79DB75900BD9CAB3D96E43,1,59
9308,58983,21106,2021-01-07 12:03:52 UTC,2021-03-08 08:17:52 UTC,96.542250,Very Used,Paige Premium Denim Men's Stone Canyon Boot Cu...,PAIGE,39,Men,C3DF79D5324C4E6263F0A865B4EAAE0B,7,59
13013,30630,21899,2021-07-31 15:42:54 UTC,2021-09-29 03:44:54 UTC,13.382394,Very Used,Ed Garments Men's Flat Front Pant. 2577,Ed Garments,42,Men,4F372AD0CB173CAF4691D83696B3B08A,7,59
3865,5626,3337,2021-12-23 09:54:34 UTC,2022-02-21 02:15:34 UTC,20.722591,New,Lindy Bop 'Laney' Chic Vintage 50's Style Blac...,Lindy Bop,42,Women,A4FA7175D4757E45EAC71A8487751F63,7,59

In [32]:
from faker import Faker
fake = Faker('it_IT')

for i in list(df_priced['product_name'].unique()):
    selected_brand=df_priced[df_priced["product_name"]==i]
    brand=list(selected_brand['product_brand'])[0]
    df_priced.loc[df_priced['product_name']==i, "product_name"] =[k.split(' ')[0] + ' ' + fake.name() for k in list(selected_brand['product_name'])]

In [33]:
df_train = df_priced[['product_sku','product_brand', 'product_category', 'product_department','product_name','product_retail_price', 'days_storage', 'cost']]

In [34]:
df_train.rename({"product_sku" : "Item",
                 "product_department": "Gender",
                 "product_brand": "Brand", 
                 "product_name":"Model",
                 "product_category":"Usage",
                 "product_retail_price": "Size", 
                 "days_storage":"Sale_Until",
                 "cost" :"Prize"},axis='columns', inplace=True)

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [35]:
df_train

,Item,Brand,Usage,Gender,Model,Size,Sale_Until,Prize
20696,AD7F941F991AD6CCD8D433FED457FB63,Abini,Almost New,Men,Men's Leopoldo Bellini,45,0,35.881559
19351,BCEA8E33F6A05964BDF4AC26C1AA89CF,SockGuy,New,Men,SockGuy Alessandra Giradello,40,0,5.314680
21715,0D81F8D2278A750F06F9FD48FE57CEF0,John Henry,Very Used,Men,John Gastone Zichichi,40,0,13.053000
21702,BA29C0A9D05316B187201C304B20120D,J.C. Rags,Used,Men,J.C. Pierpaolo Filogamo,38,0,102.286800
19353,65B5FC46FC82087BA24609B14F2DC4FF,SockGuy,New,Men,SockGuy Matilda Mussolini,43,0,5.193900
...,...,...,...,...,...,...,...,...
26236,FB8E1EA7FBBEBEAD5AF0CA4DB35408D0,Bjorn Borg,Almost New,Men,Bjorn Ottone Cagnotto,43,59,23.426550
18564,A5329A91EF79DB75900BD9CAB3D96E43,Spa & Resort,Almost New,Women,White Giustino Mantegazza,42,59,30.469501
9308,C3DF79D5324C4E6263F0A865B4EAAE0B,PAIGE,Very Used,Men,Paige Eliana Alfieri,39,59,96.542250
13013,4F372AD0CB173CAF4691D83696B3B08A,Ed Garments,Very Used,Men,Ed Bianca Merisi,42,59,13.382394
3865,A4FA7175D4757E45EAC71A8487751F63,Lindy Bop,New,Women,Lindy Nino Renier,42,59,20.722591

In [36]:
df_train=df_train[df_train['Prize'] < 150]
df_train=df_train[df_train['Sale_Until'] < 50]

In [37]:
# df_train.to_csv("thelook2.csv")

In [38]:
df_train['Gender'].replace(['Men', 'Women'],
                        [0, 1], inplace=True)

In [39]:
gender_zip=zip(('Men', 'Women'),(0, 1))

In [40]:
df_train['Usage'].replace(['New', 'Almost New', 'Used', 'Very Used'],
                        [0, 1,2,3], inplace=True)

In [41]:
Usage_zip = zip(('New', 'Almost New', 'Used', 'Very Used'),(0, 1,2,3))

In [42]:
df_train

,Item,Brand,Usage,Gender,Model,Size,Sale_Until,Prize
20696,AD7F941F991AD6CCD8D433FED457FB63,Abini,1,0,Men's Leopoldo Bellini,45,0,35.881559
19351,BCEA8E33F6A05964BDF4AC26C1AA89CF,SockGuy,0,0,SockGuy Alessandra Giradello,40,0,5.314680
21715,0D81F8D2278A750F06F9FD48FE57CEF0,John Henry,3,0,John Gastone Zichichi,40,0,13.053000
21702,BA29C0A9D05316B187201C304B20120D,J.C. Rags,2,0,J.C. Pierpaolo Filogamo,38,0,102.286800
19353,65B5FC46FC82087BA24609B14F2DC4FF,SockGuy,0,0,SockGuy Matilda Mussolini,43,0,5.193900
...,...,...,...,...,...,...,...,...
7798,EC4DE54F2F3AFA14175E5EABFC16CE1F,VIVILLI,1,1,VIVILLI Nedda Panzera,43,49,13.368000
24613,AEB66737D37CAC958FE772E12C5C16DD,Sons Of Anarchy,0,0,Bold Fedele Rizzoli,45,49,15.932312
3178,E48A900A95C8E0A3DB31DA9FBAD6866E,Alex Evenings,3,1,Plus Sig. Enrico Vecoli,39,49,42.195779
12124,6B59F92676FD007E9CC45D7F3FDD51F4,MontBell,1,0,MontBell Liliana Rubbia,44,49,82.744200
3347,0987B8B338D6C90BBEDD8631BC499221,2b by bebe,0,1,2B Raffaello Zanichelli,45,49,13.712633

In [43]:
len(list(dict(df_train['Brand'].value_counts().loc[lambda x : x>30]).keys()))

149

In [44]:
result = dict()
for i in list(dict(df_train['Brand'].value_counts().loc[lambda x : x>30]).keys()):
    result[i]=df_train[df_train['Brand']==i]

In [45]:
def from_dict_value_to_df(d):
    """
    input = dictionary
    output = dataframe as part of all the values from the dictionary
    """
    df = pd.DataFrame()
    for v in d.values():
        df = df.append(v)
    return df

In [48]:
df_brands=from_dict_value_to_df(result)

In [50]:
df_brands['Brand'].str.lower()

2905        allegra k
9893        allegra k
2927        allegra k
2944        allegra k
2962        allegra k
             ...
22145    labelshopper
5240     labelshopper
9146     labelshopper
9145     labelshopper
17998    labelshopper
Name: Brand, Length: 12078, dtype: object

In [47]:
brands_zip = zip(tuple(list(df_brands['Brand'].unique())),tuple(range(len(list(df_brands['Brand'].unique())))))

In [48]:
df_brands['Brand'].replace(list(df_brands['Brand'].unique()),
                        range(len(list(df_brands['Brand'].unique()))), inplace=True)

In [49]:
df_num=df_brands.drop(['Item', 'Model'], axis=1)

In [50]:
mask = pd.to_numeric(df_num['Usage'], errors='coerce').isna()

In [51]:
dict(gender_zip)

{'Men': 0, 'Women': 1}

In [53]:
dict(Usage_zip)

{'New': 0, 'Almost New': 1, 'Used': 2, 'Very Used': 3}

In [51]:
dict(brands_zip)

{'Allegra K': 0,
 'Calvin Klein': 1,
 'Carhartt': 2,
 'Volcom': 3,
 'Tommy Hilfiger': 4,
 'Quiksilver': 5,
 'Hanes': 6,
 'Nautica': 7,
 'Hurley': 8,
 'Columbia': 9,
 "Levi's": 10,
 'Dockers': 11,
 'Diesel': 12,
 'Wrangler': 13,
 'Speedo': 14,
 'Dickies': 15,
 '7 For All Mankind': 16,
 'American Apparel': 17,
 'Champion': 18,
 "O'Neill": 19,
 'Lucky Brand': 20,
 'FineBrandShop': 21,
 'SmartWool': 22,
 'HUGO BOSS': 23,
 'Motherhood Maternity': 24,
 'DC': 25,
 'Fox': 26,
 'Ralph Lauren': 27,
 'Ray-Ban': 28,
 'Oakley': 29,
 'Jones New York': 30,
 'Anne Klein': 31,
 'Calvin Klein Jeans': 32,
 'Orvis': 33,
 'Roxy': 34,
 'adidas': 35,
 'Kenneth Cole': 36,
 'Jockey': 37,
 'Lee': 38,
 "Joe's Jeans": 39,
 'Fruit of the Loom': 40,
 'Haggar': 41,
 'True Religion': 42,
 'Port Authority': 43,
 'HUE': 44,
 'Patty': 45,
 'Anna-Kaci': 46,
 'Nike': 47,
 'IZOD': 48,
 "Not Your Daughter's Jeans": 49,
 'Hot from Hollywood': 50,
 'Bali': 51,
 'Hot Topic': 52,
 'Perry Ellis': 53,
 'Pendleton': 54,
 'Ed Hardy': 55,
 'Duofold': 56,
 'Tommy Bahama': 57,
 'Thorlo': 58,
 'Polo Ralph Lauren': 59,
 'Laura': 60,
 'RVCA': 61,
 'SK Hat shop': 62,
 'Maidenform': 63,
 'Gold Toe': 64,
 'Billabong': 65,
 'Geoffrey Beene': 66,
 'Woolrich': 67,
 'eVogues Apparel': 68,
 'Burnside': 69,
 'Ed Garments': 70,
 'G-Star': 71,
 'A:X Armani Exchange': 72,
 'Original Penguin': 73,
 'Woman Within': 74,
 'Majestic International': 75,
 'Paul Fredrick': 76,
 '2(x)ist': 77,
 'Van Heusen': 78,
 'SEX NIGHT': 79,
 'Mountain Hardwear': 80,
 'Harley-Davidson': 81,
 'Bella': 82,
 'Wigwam': 83,
 'Eddie Bauer': 84,
 'Icebreaker': 85,
 'Vanity Fair': 86,
 'Sutton Studio': 87,
 'LRG': 88,
 '2b by bebe': 89,
 'Tri-Mountain': 90,
 'Wacoal': 91,
 'Savane': 92,
 'Sock It To Me': 93,
 'French Connection': 94,
 'Alexander Del Rossa': 95,
 'ASICS': 96,
 'Samanthas Style Shoppe': 97,
 'Southpole': 98,
 'Michael Kors': 99,
 'Marc Ecko Cut & Sew': 100,
 'Luxury Divas': 101,
 "The Little Alpaca's House": 102,
 'Rip Curl': 103,
 'TrendsBlue': 104,
 'boxed-gifts': 105,
 'UNIONBAY': 106,
 'Alfred Dunner': 107,
 'Metal Mulisha': 108,
 'Flexees': 109,
 'ExOfficio': 110,
 'Silver Jeans': 111,
 'Betsey Johnson': 112,
 'Life Is Good': 113,
 'Underworks': 114,
 'Intimo': 115,
 'Under Armour': 116,
 'Hanro': 117,
 'Devon & Jones': 118,
 'Gary Majdell Sport': 119,
 'PUMA': 120,
 'G by GUESS': 121,
 'Gildan': 122,
 'BCBGMAXAZRIA': 123,
 "Alki'i": 124,
 'Bottoms Out': 125,
 'Alternative': 126,
 'Russell Athletic': 127,
 'Harbor Bay': 128,
 'Ilusion': 129,
 'C-IN2': 130,
 'Fred Perry': 131,
 'U.S. Polo Assn.': 132,
 'prAna': 133,
 'Kenneth Cole REACTION': 134,
 'Joseph Abboud': 135,
 'Hudson': 136,
 "Frederick's of Hollywood": 137,
 'Retrofit': 138,
 'Rock Revival': 139,
 'K. Bell': 140,
 'LOTUSTRADERS': 141,
 'PAIGE': 142,
 'LabelShopper': 143,
 'London Fog': 144,
 'King Formal Wear': 145,
 'AG Adriano Goldschmied': 146,
 'Matix': 147,
 'Only Hearts': 148}

In [52]:
# import pickle

# import numpy as np
# import pandas as pd
# from sklearn.model_selection import KFold
# from xgboost import XGBRegressor

In [53]:
# Y = df_train['Prize']  # dependent variable
# X = df_train[['Item', 'Brand', 'Usage', 'Model', 'Size', 'Sale_Until']]  # independent variable

In [54]:
# from pandas import DataFrame
# import matplotlib.pyplot as plt
# from sklearn.cluster import KMeans
# import seaborn as sns

# sns.set(style='whitegrid', rc={'figure.figsize':(11.7,8.27)})
# sns.set_context('poster')

In [55]:
# kmeans = KMeans(n_clusters=4).fit(df_train[['Prize', 'Sale_Until']])
# centroids = kmeans.cluster_centers_
# print(centroids)

In [56]:
# plt.scatter(df_train['Sale_Until'], df_train['Prize'], c= kmeans.labels_.astype(float), s=50, alpha=0.5)
# plt.scatter(centroids[:, 0], centroids[:, 1], c='green', s=50)
# plt.show()